<div class="container">
    <h1>Restaurant Reviews</h1>
</div>
<div class="container">
    <table id="restaurant-table" class="table">
        <thead class="table-header">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Street Address
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>